@media screen and (max-width: 1200px) {
    .navigation {
        flex-direction: column;
        margin-bottom: 25px;
    }
    .nav-left {
        text-align: center;
        flex-direction: column;
        font-size: 30px;
    }
    .nav-right {
        text-align: center;
        flex-direction: column;
    }
    
    .content-right {
        display: none;
    }
    .home-article {
        /* display: flex; */
        flex-direction: column;
    }
    .home-article-img {
        text-align: center;
        width: 70vw;
    }
    .year-box {
        top: 50px;
        font-size: 15px;
        display: flex;
    }
    .year-box div {
        margin-top: 0px 0px;
        padding-inline-start: 10px;
    }
    .form-input {
        width: 50%;
    }

    .form-box input,
    textarea {
        width: 60vw;
    }
    .row {
        flex-direction: column;
    }
    .social {
        padding: 0;
    }
    .post-img {
        height: auto;
    }
    .adjust-year {
        position: static;
        height: auto;
        padding: 12px 0px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}
